.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 2em 0 2em 3em;
    background: rgb(147, 203, 255);
    background: radial-gradient(circle, rgb(147 203 255 / 80%) 0%, rgb(231 224 250));
}

.hero-section .hero-leftside {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-section .hero-leftside h3 {
    font-weight: 900;
    font-size: 3em;
    line-height: 48px;
    color: #1a1a1a;
    word-wrap: break-word;
}

.hero-section .hero-leftside h3 span {
    position: relative;
    background-color: #ffef91;
    padding: 0 2px;
    white-space: pre;
}

.hero-section .hero-leftside h3 span::before {
    content: " ";
}

.hero-section .hero-leftside p {
    color: #545454fc;
    font-size: 1.2em;
    font-style: normal;
    font-family: 400;
    line-height: 1.5;
    width: 80%;
}

.hero-section .hero-rightside {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1em;
    border-top-left-radius: 0.9em;
    border-bottom-left-radius: 0.9em;

}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .hero-section .hero-rightside {
        padding: 0;
    }

}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-section {
        gap: 0;
        padding: 6em 3em;
    }

    .hero-section .hero-rightside img {
        padding: 0;
        height: 300px;
    }

    .hero-section .hero-leftside h3 {
        font-size: 2em;
        line-height: 1.1;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        padding: 2em 1em 2em 1em;
        gap: 20px;
        padding: 4em 2em;

    }

    .hero-section .hero-rightside {
        padding: 0;
        display: none;
    }

    .hero-leftside {
        display: flex;

    }

    .hero-section .hero-leftside h3 {
        font-size: 1.7em;
        line-height: 1.1;
    }

    .hero-section .hero-leftside p {
        font-size: 0.8em;
        text-align: start;
        width: 95%;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        padding: 2em 1em 2em 1em;
        gap: 40px;

    }

    .hero-section .hero-rightside {
        padding: 0;
        display: none;
    }

    .hero-section .hero-leftside h3 {
        font-size: 2.7em;
        line-height: 1.3;
    }

    .hero-section .hero-leftside p {
        font-size: 1.2em;
        text-align: start;
        width: 100%;
    }
}