nav {
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.nav-leftside {
    display: flex;
    gap: 15px;
    cursor: default;
}

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 0.9em;
    background: rgba(192, 164, 251, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(192, 164, 251, 0.34);
}

.logo-txt {
    font-size: 1.5em;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav-leftside .logo-txt p {
    color: #232323;
}

/* MEDIA QUERIES */
/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {

    .logo-txt {
        font-size: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-txt p {
        display: flex;
        justify-self: left;
    }
}

@media screen and (min-width: 360px) and (max-width: 480px) {

    .logo img {
        height: 30px;
    }

    .logo-txt {
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-txt p {
        display: flex;
        justify-self: left;
    }

}