.recommendation {}

.recomm-head {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 3em 3em 1em 3em;
}

.container {
    margin: 0 4em 0 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    display: inline-flex;
    gap: 20px;
    padding: 0 1.5em 1em 1.5em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 10px 0 25px rgba(128, 128, 128, 0.459);
    transition: all 500ms ease-in-out;
}

.card span {
    color: #232323;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
    font-size: 1.2em;
    font-style: normal;
    font-family: 500;
    line-height: 1.5;
}

.container .card-1 {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgb(219, 207, 197);
}

.container .card-2 {
    background-color: #f6e7ec;
    border: 1px solid rgba(29, 29, 29, .1);
}

.container .card-3 {
    background-color: #d1ffc6;
    border: 1px solid #99ff80;
}

.container .card-4 {
    background-color: #d0d2ff;
    border: 1px solid #aeb0ff;
}

/* SMALL SCREEN */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .container {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .recomm-head {
        padding: 1em 3em 1em 1em;
        margin-top: 3em;
    }

    .card {

        width: 200px;
    }

}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .container {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .recomm-head {
        padding: 1em 3em 1em 1em;
        margin-top: 3em;
    }

    .card {
        margin: 0;
        padding: 0;
        height: 300px;

    }
}