.select-simple-3d {
    margin-top: 4em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

.select-simple-3d-rightside {
    /* background-color: #ff8ed2; */
}

.select-simple-3d-rightside img {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    background-color: #ff8ed2;
    padding: 0 2em 0 5em;
}

.select-simple-3d-leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}